html, body {
    position : relative;
    height   : 100%;
}

body {
    background  : #000;
    font-family : Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size   : 14px;
    color       : #000;
    margin      : 0;
    padding     : 0;
}

/*noinspection CssUnusedSymbol*/
.swiper-container {
    width        : 100%;
    height       : 300px;
    margin-left  : auto;
    margin-right : auto;
}

/*noinspection CssUnusedSymbol*/
.swiper-slide {
    background-size     : cover;
    background-position : center;
}

/*noinspection CssUnusedSymbol*/
.gallery-top {
    height : 80%;
    width  : 100%;
}

/*noinspection CssUnusedSymbol*/
.gallery-thumbs {
    height     : 20%;
    box-sizing : border-box;
    padding    : 10px 0;
}

/*noinspection CssUnusedSymbol*/
.gallery-thumbs .swiper-slide {
    width   : 25%;
    height  : 100%;
    opacity : 0.4;
}

/*noinspection CssUnusedSymbol*/
.gallery-thumbs .swiper-slide-active {
    opacity : 1;
}

